[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
discord = "*"
python-dotenv = "*"
python-terraform = "*"
google-api-core = "*"
google-api-client = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
