[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
google-api-core = "*"
google-api-python-client = "*"
google-cloud-compute = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
